*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1f1f1;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button,
input{
    border: none;
    outline: none;
    font-family: 'poppins',sans-serif;
    border-radius: 3px;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background-color: #cfcfcf;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
}


/*==========================
    LOGIN CONTAINER 
===========================*/
.container{
    background: linear-gradient(50deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
    padding: 15px;
    margin: 1rem 0;
    border-radius: 15px;
    height: 527px;
}
.container.active{
    display: none;
}
.login__box{
    margin: 140px auto;
}
.login__title{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.form__div i{
    position: absolute;
    top: 38px;
    right: 10px;
    visibility: hidden;
}
.form__div.error input{
    border-color: crimson;
}
.form__div.success input {
    border-color: #2ecc71;
}
.form__div.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}
.form__div.error i.fa-exclamation-circle{
    visibility: visible;
    color: crimson;
}
.form__div small {
    color: crimson;
    font-size: 13px;
    font-weight: 500;
    margin-top: .2rem;
    visibility: hidden;
}
.form__div.error small{
   visibility: visible;
}






/*========================
    BOOOLIST FORM 
==========================*/
.form__container {
    background: linear-gradient(250deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
   padding: 15px;
    margin: 1rem 0;
   border-radius: 15px;
   display: none;
   height: 527px;
}
.form__container.active{
    display: block;
}
.fa-home{
    cursor: pointer;
    color: rgb(87, 139, 236);
}

.title{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Spartan',sans-serif;
    text-align: center;
    margin-bottom: 1.6rem;
}
.title i,
.title span {
    color: rgb(87, 139, 236);
}
.form__div{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form__div label{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-bottom: .2rem;
}
.form__div input{
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 8px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    box-shadow: rgba(160, 160, 160, 0.1) 0px 1px 3px 0px,
    rgba(160, 160, 160, 0.06) 0px 1px 2px 0px;
}
.submit__btn{
    width: 100%;
    background-color: rgb(252, 221, 221);
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}




/*======================================
    DISPLAY BOOKLIST CONTAINER 
=======================================*/
.result__container{
    margin: 1rem 0;
    background: linear-gradient(50deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
    padding: 15px;
    border-radius: 15px;
    display: none;
    box-shadow: rgba(49, 49, 63, 0.1) 0px 0px 16px;
}
.result__container.active{
    display: block;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add_form{
    background-color: rgba(255, 255, 255, 0.8);
    width: 33px;
    height: 33px;
    text-align: center;
    border-radius: 50px;
    line-height: 33px;
    cursor: pointer;
    color: #000000;
}
.user__name {
    background-color: rgba(255, 255, 255, 0.8);
    /* background-color: rgba(247, 247, 247,0.4); */
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: rgb(252, 221, 221) 0px 1px 4px;
    color: rgb(87, 139, 236);
    letter-spacing: 0.3px;
    cursor: pointer;
}
.user__name i {
    color: #000;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 30px;
    height: 45px;
    background-color: #fafafa;
}
#search{
    width: 100%;
    background-color: #fafafa;
    font-family: "poppins",sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 16px;
    border-radius: 30px 0 0 30px;
}
.search__icon{
    width: 50px;
    color: #000;
    /* padding: 10.50px; */
    border-radius: 0 30px 30px 0;
    text-align: center;
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    background-color: #f2f2f2;
}



#main{
    display: block;
    overflow: auto;
    height: 59vh;
    padding: 5px;
}
.check{
    text-align: center;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 500;
}

.table__container{
    background-color: linen;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem .5rem 0 0;
    position: relative;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
   rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.table__container:nth-child(even){
    background-color: rgb(227, 247, 253);
}

.table__container .dateTime{
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 13px;
    font-weight: 500;
}
.title__div{
    margin-top: .5rem;
}

.title__div,
.author__div,
.isbn__div{
    display: flex;
    margin-bottom: .4rem;
    font-size: 16px;
    font-weight: 400;
}

.title__div span,
.author__div span,
.isbn__div span{
    font-size: 16px;
    font-weight: 500;
    padding-right: 4px;
}
.table__container .remove{
   color: crimson;
   cursor: pointer;
   background: none;
} 
